<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>JOSH SOFTWARE PVT. LTD.</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="resource-type" content="document">
<meta name="audience" content="all">
<meta name="distribution" content="global">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="robots" content="FOLLOW, INDEX">
<meta name="revisit-after" content="2 days">
<meta name="copyright" content="Site Name">
<meta name="author" content="Site admin Email">
<meta name="abstract" content="Site description text">

</head>

<!--<body style="background-color:#A4FF9F;">-->
<body>

<!-- back starts -->   
<div class="back" style="font-family: Arial,sans-serif; color:black; font-size: 14px;text-align:justify;background-color:#E0ECFF;width:780px;height:auto;margin-left:10px;padding-bottom:45px;">
<br/>

<!-- Container Starts -->
<div align="center" style="color:black; font-size: 11px;">If you have trouble viewing this email, <a href="http://mailit.joshsoftware.com/July2011_Newsletter.html" target="_blank">click here</a>
</div>
<br/>
<div style="text-align: left; padding: 0pt; margin: 0pt auto; width: 680px; background-color:#FFFFFF;">

   <div class="dt" style="background-color:#5685D6; height:40px;color:white;font-size:20px;text-align:center;padding:10px 0px 0px 0px;"> 
         <strong>July 2011 Newsletter</strong>         
   </div>


   <div style="width: 680px; float: left;">

    <!-- header Starts -->          
    <div class="header" style="background-color:white;height:130px;font-size: 11px;">

        <!-- logo Starts -->          

	<div class="logo" style="width: 400px; float: left; padding: 20px;"> 
          <a href="http://www.joshsoftware.com/"><img src="http://www.joshsoftware.com/system/logos/1/layout_1/logo.jpg?1258615261" 
alt="" width="164px" height="83px" border="0"></a>
          
           <strong><i><font size="3">Where Programming is an Art!</font></i></strong> 
	</div>
        
        <!-- logo ends-->         

        <!-- ruby Starts -->         
	
        <div class="ruby" style="width: 100px; padding: 20px; float: right; text-align:right;"> 
           <img src="http://www.joshsoftware.com/system/images/39/medium_thumb/ruby_on_rails_logo_3.jpg" border="0">
	</div>

        <!-- ruby ends -->   

    </div>
    <!-- header ends -->          

  </div>

<hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>

<!-- index starts -->          
<!--<div class="index" style="background-color:#EFEFEF;padding-left:40px;">
<hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
</div>-->
<!-- index ends -->          

<!-- Content Starts -->  

<div class="content" style="width: 600px; padding-left:40px; text-align:justify;">  

<div style="margin-top:150px;">
 <hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
</div>
<br/>
<strong><a name="section3" style="color:black;">From our Portfolio</strong><br/><br/>

 <a href="http://brandpotion.com/" target="_blank" name="section2">
  <img src="http://www.brandpotion.com//images/logo.png?1309430136" alt="" border="0" style="float:left;"/>
 </a>
  
 <br/>
<a href="http://brandpotion.com" target="_blank" style="color:black;"> BrandPotion </a> is the place for creative minds to connect with leading brands, helping them to develop their products, re-imagine their branding and create innovative advertising. Using a combination of interactive tools that gives you a platform to talk to your favourite brands, <a href="http://brandpotion.com" target="_blank" style="color:black;"> BrandPotion </a> aims to revolutionise the way brands and consumers think. It's the place for you to share your work & get noticed. 
 
<hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>

<p>
<strong><a name="section1" style="color:black;">Enjoy Rails</strong><br/>
<p>
  
<b><a href="http://blog.joshsoftware.com/2011/07/26/testing-social-networks-using-capybara-cucumber-rails-selenium/" target="_blank" style="color:black;">Testing social networks using Capybara, Cucumber-rails, Selenium</a></b><br/> 
Integration of Social Networks is very common now a days in every web application. We have many gems that are readily available for doing this integration but testing out this social integration feature is a complicated task. However this can be easily achieved using <a href="http://blog.joshsoftware.com/2011/07/26/testing-social-networks-using-capybara-cucumber-rails-selenium/" target="_blank" style="color:black;"> Capybara with Cucumber </a>.
</p>

<p>  
<b><a href="http://blog.joshsoftware.com/2011/02/17/increase-user-registration-using-gigya-register-widget/" target="_blank" style="color:black;">Gigya widgets - Increase user registrations using all available social networks</a></b><br/> 
Do you already have a web-portal running for years and you want to use different social networks to increase user registrations? Can you afford to keep integrating newer social networks and deprecate older ones? <a href="http://blog.joshsoftware.com/2011/02/17/increase-user-registration-using-gigya-register-widget/" target="_blank" style="color:black;"> Gigya register widget </a> eases all this - its quick and simple to use!
</p>

<p>  
<b><a href="http://blog.joshsoftware.com/2011/07/12/ajax-forms-testing-using-capybara-cucumber-rails-and-selenium/" target="_blank" style="color:black;">Ajax forms testing using Capybara, Cucumber-rails and Selenium</a></b><br/> 
Manual UI testing plays a crucial part in test life cycle. However doing the same UI testing on every other day will became tedious. By using cucumber with capybara we can transform these mundane tasks into some interesting learning. We can easily automate manual UI testing by using <a href="http://blog.joshsoftware.com/2011/07/12/ajax-forms-testing-using-capybara-cucumber-rails-and-selenium/" target="_blank" style="color:black;"> capybara with cucumber.</a>
</p>

To know more about Ruby on Rails please visit <a href="http://blog.joshsoftware.com/" target="_blank" style="color:black;">blog.joshsoftware.com </a>
</p>

<hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>

<!--<p>
<strong style="color:black;"><a name="section2">Change here</strong><br/>
<p>-->
  
<!-- Latestmasterpieces Starts -->  
<div class="latestmasterpieces">


<p>
<strong><a name="section3" style="color:black;">Ruby Events</strong><br/>

<p>
<a href="http://lonestarrubyconf.com/" target="_blank" style="color:black;"> Lone Star Ruby Conference</a> will be held in the month of August-2011 from 11th to 13th at AUSTIN-TEXAS. It has been sponsored by HP & Lone Star Foundation. Gautam (<a style="color:black;" target="_blank" href="http://twitter.com/gautamrege">@gautamrege</a>) will be attending this event. Do meet him if you are there.
</p>

<p>
<a href="http://rubyconf.org/" target="_blank" style="color:black;"> Ruby Conference </a> will be held between September 29 - October 1 at NEW ORLEANS.
</p>

<p>
<a href="http://rockymtnruby.com/" target="_blank" style="color:black;"> Rocky Mountain Ruby Conference </a> will be held between August 31 - September 2 at Boulder, Colorado. This is a single track conference devoted to the Ruby programming language, features technical presentations, community events and outdoor experiences.
</p>


<hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
</p>

<br/>
<div style="color:black;font-size: 11px;text-align:center">

<br/> If you do not wish to receive these newsletters, click <a target="_blank" href="http://mailit.joshsoftware.com/unsubscribe/<%=@code%>" style="color:black;">here</a> to unsubscribe
</div>

</div>
<!-- Latestmasterpieces end -->  
</div>
<!-- Content ends -->  

<br/>
<br/>
<!-- Footer starts -->  
   <div class="footer" style="background-color:#5685D6; height:70px;">

     <a href="http://www.facebook.com/pages/Josh-Software-Private-Limited/239743580413"><img style="margin-left:220px;" height="45" border="0" width="40" src="http://www.joshsoftware.com/images/newsletters/facebook.png"></a>
  
     <a href="http://twitter.com/joshsoftware"><img style="margin-left:30px;" height="55" border="0" width="53" src="http://www.joshsoftware.com/images/newsletters/tweet.png"> </a>
   
     <a href="http://www.meetup.com/PuneRailsMeetup/" ><img style="margin-left:30px" src="http://img1.meetupstatic.com/94068167911579584/img/logo_63x42.png" border="0"></a>
  
   </div>
<!-- Footer end -->
    
<!-- Container Ends -->
</div>

<div>
<!-- back ends -->   

</body>

</html>
