
<!-- back starts -->   
<div class="back">
  <br/>
  <br/>
  <div class="back1">

    <div class="back2">
      <!-- header Starts -->          
      <%= render 'subscribers/header' %>
      <!-- header ends -->          
    </div>

    <!-- index starts -->          
    <div class="index">
      <strong>Newsletters:</strong>
      <br/>
      <br/>
    </div>
    <!-- index ends -->          

    <!-- Content Starts -->  
    <div class="content">  
      <br/><br/>
      <b><a href="/add_subscriber" style="color:black;">Add New Subscriber</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/import_subscribers" style="color:black;">Import Subscribers</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/remove_bounced_subscribers" style="color:black;">Remove Bounced Subscribers</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/send_newsletters" style="color:black;">Send Newsletters</a></b>
      <hr noshade class="partition"></hr>
      <br/>
    </div>
    <!-- Content ends -->  

    <!-- Footer starts -->  
    <%= render 'subscribers/footer' %>
    <!-- Footer end -->
  </div>
  <!-- Container Ends -->
</div>
