<div class="footer">

  <a href="http://www.facebook.com/pages/Josh-Software-Private-Limited/239743580413"><img id="facebook" src="http://www.joshsoftware.com/images/newsletters/facebook.png"></a>

  <a href="http://twitter.com/joshsoftware"><img id="twitter" src="http://www.joshsoftware.com/images/newsletters/tweet.png"></a>

  <a href="http://www.meetup.com/PuneRailsMeetup/"><img id="meetup" src="http://img1.meetupstatic.com/94068167911579584/img/logo_63x42.png"></a>
</div>
