<div class="footer">

  <a href="http://www.meetup.com/PuneRailsMeetup/" target="_blank"><img style="margin-left:12px;margin-top:13px;" src="http://img1.meetupstatic.com/94068167911579584/img/logo_63x42.png" border="0"></a>

  <a href="http://www.facebook.com/pages/Josh-Software-Private-Limited/239743580413" target="_blank"><img style="margin-left:450px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_390_facebook.png"></a>

  <a href="http://twitter.com/joshsoftware" target="_blank"><img style="margin-left:10px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_392_twitter.png"></a>

  <a href="http://blog.joshsoftware.com/" target="_blank"><img style="margin-left:10px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_397_rss.png"></a>

  <a href="http://www.linkedin.com/company/josh-software-private-limited" target="_blank"><img style="margin-left:10px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_377_linked_in.png"></a> 

</div>
