<div class="header">
  <!-- logo Starts -->
  <div class="logo">
    <a href="http://www.joshsoftware.com/" target="_blank"><img src="http://www.joshsoftware.com/assets/Josh-Software-Logo.svg" border="0"></a>

    <strong><i><font size="2">Where Programming is an Art!</font></i></strong>
  </div>
  <!-- logo ends-->

  <!-- ruby Starts -->
  <div class="ruby">
    <img src="http://mailit.joshsoftware.com/images/rails.png" border="0">
  </div>
  <!-- ruby ends -->
</div>
