<div class="header" style="background-color:white;height:130px;font-size: 11px;">
  <!-- logo Starts -->
  <div class="logo" style="width: 400px; float: left; padding: 20px;">
    <a href="http://www.joshsoftware.com/"><img src="http://www.joshsoftware.com/system/logos/1/layout_1/logo.jpg?1258615261" 
      alt="" width="164px" height="83px" border="0"></a>

    <strong><i><font size="3">Where Programming is an Art!</font></i></strong>
  </div>
  <!-- logo ends-->

  <!-- ruby Starts -->
  <div class="ruby" style="width: 100px; padding: 20px; float: right; text-align:right;">
    <img src="http://www.joshsoftware.com/system/images/39/medium_thumb/ruby_on_rails_logo_3.jpg" border="0">
  </div>
  <!-- ruby ends -->
</div>
