<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>JOSH SOFTWARE PVT. LTD.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="resource-type" content="document">
    <meta name="audience" content="all">
    <meta name="distribution" content="global">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="FOLLOW, INDEX">
    <meta name="revisit-after" content="2 days">
    <meta name="copyright" content="Site Name">
    <meta name="author" content="Site admin Email">
    <meta name="abstract" content="Site description text">

  </head>

  <!--<body style="background-color:#A4FF9F;">-->
    <body>

      <!-- back starts -->   
      <div class="back" style="font-family: Arial,sans-serif; color:black; font-size: 12px;text-align:justify;background-color:#E0ECFF;width:780px;height:auto;margin-left:250px;padding-bottom:45px;">
        <br/>

        <!-- Container Starts -->

        <br/>
        <div style="text-align: left; padding: 0pt; margin: 0pt auto; width: 680px; background-color:#FFFFFF;">

          <div style="width: 680px; float: left;">
            <!-- header Starts -->          
            <%= render 'header' %>
            <!-- header ends -->          
          </div>

          <!-- index starts -->          
          <div class="index" style="background-color:#EFEFEF;padding-left:40px;">
            <strong>Newsletters:</strong>
            <br/>
            <br/>
          </div>
          <!-- index ends -->          
          
          <!-- Content Starts -->  
          <div class="content" style="width: 600px; padding-left:40px; text-align:justify;">  
            <br/><br/>
            <b><a href="/add_to_index" style="color:black;">Add Month to Index</a></b>
            <hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
            <b><a href="/import_subscribers" style="color:black;">Import Subscribers</a></b>
            <hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
            <b><a href="/remove_bounced_subscribers" style="color:black;">Remove Bounced Subscribers</a></b>
            <hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
            <b><a href="/send_newsletters" style="color:black;">Send Newsletters</a></b>
            <hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
            <br/>
          </div>
          <!-- Content ends -->  

          <!-- Footer starts -->  
          <%= render 'footer' %>
          <!-- Footer end -->
        </div>
        <!-- Container Ends -->
      </div>
    </body>
  </html>
