<div style="height:300px;">
<div style="background-color: rgb(118, 155, 40); text-align: center; color: white; font-size: 20px; width: 500px; margin: 185px 400px;">
You have been un-subscribed Successfully.
</div> 
</div>

