
<!-- back starts -->   
<div class="back">
  <br/>
  <br/>
  <div class="back1">

    <div class="back2">
      <!-- header Starts -->          
      <%= render 'header' %>
      <!-- header ends -->          
    </div>

    <!-- index starts -->          
    <div class="index">
      <strong>Newsletters:</strong>
      <br/>
      <br/>
    </div>
    <!-- index ends -->          

    <div class="msg">
      You have been un-subscribed successfully
    </div>

    <!-- Footer starts -->  
    <%= render 'footer' %>
    <!-- Footer end -->
  </div>
  <!-- Container Ends -->
</div> 
